.banner-1{
  margin-top: 30px;
  background:url(https://d1f5hsy4d47upe.cloudfront.net/20/209b4ba5dbb88826d9ca551f51dd28f5_t.jpeg);
  background-position: center;
  background-size: cover;
  &__pc{
    display: block;
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: rgb(65, 62, 62);
    .pc__inner{
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      h2{
        margin: 0;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      p{
        font-size: 35px;
        font-weight: bold;
        margin: 10px 0 0;
      }
      .banner__icon{
        margin: 20px 0 0;
        display: flex;
        ul{
          display: flex;
          margin: 0 0 0 24px;
          line-height: 100px;
          li:last-child{
            margin: 0 0 0 16px;
          }
        }
      }
    }
    .cellphone-img{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 100%;
      img{
        width:100%;
      }
    }
  }
  
}