.exhibit-btn{
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 2;

  .exhibit{
    display: block;
    text-decoration: none;
  }
  .fa__box{
    margin-top: 15px;
    width: 60px;
    height: 54px;
    margin: 5px auto 0px;
  
    .fa-camera{
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 50px;
      color: white;
    }
  }
  .btn__box{
    width: 160px;
    height: 160px;
    padding-top: 32px;
    text-align: center;
    background-color: rgb(234, 53, 45);
    border-radius: 50%;
  }
  .btn__exhibit{
    font-size: 22px;
    color: white;
    
  }
}