.contents{
  max-width: 1020px;
  margin: 0px auto;
  text-decoration: none;
  

  &__body{
    position: relative;
    
  
    .category{
      background-color: rgb(255, 255, 255);
      left: 50%;
      margin-left: -50vw;
      position: relative;
      top: 0px;
      width: 100vw;
      padding: 56px 0px 30px;

      &__list{
        margin-bottom: 16px;
        text-align: center;
        font-size: 28px;
        margin: 0px 0px 16px 0px;
      }
      &__box{
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        
      }
        &__box-1{
          display: block;
          text-align: center;
          width: 100%;
          margin: -10px 0px 0px -10px;
       
      }
          &__box-2{
            margin: 10px 0px 0px 10px;
            display: inline-block;
          }
            .category-link{
              background-color: rgb(239, 239, 239);
              cursor: pointer;
              display: inline-block;
              font-size: 14px;
              font-weight: 600;
              border-radius: 15px;
              padding: 8px 16px;
              color: black;
              text-decoration: none;;
            }
    }
  }
  .item__box{
    padding: 42px 0px 100px;

    .name__box{
      margin-bottom: 16px;
      align-items: flex-end;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  
      .list__name{
        font-weight: 600;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
        font-size: 24px;
        flex: 1 1 0%;
      
      }
      .mottomiru{
        font-size: 14px;
        padding: 5px 16px 5px 5px;
        color: rgb(0, 149, 238);
        display: block;
        font-weight: 600;
        position: relative;
        text-decoration: none;
      }
        .fa-chevron-right{
          font: normal normal normal 14px/1 FontAwesome; 
          color: rgb(0, 149, 238);  
        }
        
      .itirann{
        margin: -10px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        .itirann-imag{
          width: 20%;
          padding: 10px;
          .itirann-styl{
            visibility: visible;
            transition: all 05s ease 0s;
            opacity: 1;
            .style_card{
              width: 100%;
              -webkit-box-align: center;
              display: flex;
              align-items: center;
              flex-direction: column-reverse;
              background-color: #fff;
              
              .style-card__1{
                box-sizing: border-box;
                color: #222;
                font-size: 14px;
                height: 64px;
                line-height: 1.4em;
                padding: 0 12px;
                white-space: normal;
                word-break: break-word;
                display: flex;
                width: 100%;
                align-items: center;
              }
              .style-card__text{
                display: inline-block;
                height: 2.8em;
                overflow: hidden;
                position: relative;
              }
                .style-card__text::after{
                  content: '顔顔かお顔顔買お顔かお顔顔買お顔顔買お顔顔買お顔顔買お顔顔顔顔かオアコア';
                  background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 72%);
                  bottom: 0;
                  height: 50%;
                  right: 0;
                  width: 50%;
                  // position: absolute;
                  
                }
              
              
              
              .style_thumbnail__N_xAi{
                position: relative;
                width: 100%;
                .label{
                  align-items: center;
                  background: rgba(0,0,0,.4);
                  border-radius: 0 14px 14px 0;
                  bottom: 8px;
                  color: #fff;
                  display: inline-flex;
                  font-size: 17px;
                  height: 28px;
                  letter-spacing: .02em;
                  margin: 0;
                  padding: 0 12px;
                  position: absolute;
                  z-index: 2;
                }
                .image{
                  bottom: 0;
                  // position: absolute;
                  top: 0;
                  height: 100%;
                  object-fit: cover;
                  vertical-align: top;
                  width: 100%;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
  } 
}
  .contents__top{
    height: 390px;
    text-align: center;
    background-position:center center;
    background-size: contain;
  }

  .slider_main_top__image{
    width: 100%;
    height: 390px;
  }

  .slider_main_top {
    position: relative; 
    left: 50%;
    margin-left: -50vw;
    top: 0px;
    width: 100vw;
  }

  .slider_left{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    margin-left: 60px;
    cursor: pointer;
    height: 46px;
    width: 31px;
    background-color: transparent;
    background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png");
  }
  
  .slider_right{
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    margin-right: 60px;
    cursor: pointer;
    height: 46px;
    width: 31px;
    background-color: transparent;
    background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png");
  }


  // .exhibit-btn{
  //   bottom: 32px;
  //   font-size: 22px;
  //   height: 160px;
  //   right: 32px;
  //   width: 160px;
  //   position: fixed;
  //   text-align: center;
  //   z-index: 2;

  //   .exhibit{
  //     display: block;
  //     text-decoration: none;
  //   }
  //   .fa__box{
  //     margin-top: 15px;
  //     width: 60px;
  //     height: 54px;
  //     margin: 5px auto 0px;
    
  //     .fa-camera{
  //       font: normal normal normal 14px/1 FontAwesome;
  //       font-size: 50px;
  //       color: white;
  //     }
  //   }
  //   .btn__box{
  //     width: 160px;
  //     height: 160px;
  //     padding-top: 32px;
  //     text-align: center;
  //     background-color: rgb(234, 53, 45);
  //     border-radius: 50%;
  //   }
  //   .btn__exhibit{
  //     font-size: 22px;
  //     color: white;
      
  //   }
  // }
  
  
