.home-1{
  position: relative;
  border-top: 1px solid #eee;
  background: #f5f5f5;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  ul{
    overflow: visible;
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    font-size: 0;
    li{
      text-overflow: ellipsis;
      white-space: nowrap;

      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      a{
        color: #333;
        text-decoration: none;
      }
      .fa-chevron-right{
        font: normal normal normal 12px/1 FontAwesome;
        margin: 0 8px;
        font-size: 9px;
        color: #888;
      }
    }
  }
}
// main.container-1のscss ここから
.container-1{
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
  .contents{
    width: 700px;
    .mypage__user-icon{
      height: 200px;

      position: relative;
      padding: 20px;
      background-color: wheat;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      .user_icon{
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: #333;
        text-decoration: none;
        .user-name{
          margin: 8px 0 0;
          font-size: 14px;

          line-height: 1.4;
        }
        .mypage-number{
          margin: 8px 0 0;
          font-size: 0;
          div{
            display: inline-block;
            font-size: 14px;
            span{
              margin: 0 0 0 8px;
              font-size: 16px;
            }
          }
        }
      }
    }
    // .mypage__tab-container-notification-todo{
      .container{
      margin: 0;
      background: #fff;
      .menu{
        border: 0;
        background: #eee;
        display: flex;
        li{
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          .menu_item{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
            font-weight: bold;
          }
          .active{
            border-top: 2px solid #ea352d;
            background-color: white;
          }
        }
      }
      .content{
        display: none;
        .content-text{
          padding: 160px 0 60px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
      }
        .show{
          display: block;
          li{
            border-bottom: 1px solid #eee;
            position: relative;
            .mypage-go-list{
              padding: 16px;
              background: #eee;
              color: #333;
              text-align: center;
            }
            .mypage-item-link{
              display: block;
              min-height: 80px;
              padding: 16px;
              color: #333;
              .mypage-item-body{
                margin: 0 40px 0 68px;
                line-height: center;
              }
              figure{
                position: relative;
                overflow: hidden;
                float: left;
                width: 48px;
                height: 48px;
                img{
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 1;
                  width: 100%;
                }
              }
            }
          }
        }
      
    }
    .mypage__tab-container{
      margin: 40px 0 0;
      background: #fff;
      .mypage__tab-head{
        padding: 0 16px;
        background: #fafafa;
        font-size: 16px;
        font-weight: bold;
        line-height: 72px;
      }
        .menu-container{
          margin: 0;
          background: #fff;
          .menu-1{
            border: 0;
            background: #eee;
            display: flex;
            li{
              width: 50%;
              display: inline-block;
              text-align: center;
              vertical-align: top;
              .tabs{
                position: relative;
                display: block;
                color: #333;
                font-size: 16px;
                line-height: 72px;
                text-decoration: none;
                font-weight: bold;
              }
              .act{
                border-top: 2px solid #ea352d;
                background-color: white;
              }
            }
          }
        }
        .cont{
          display: none;
          .content-1{
            padding: 160px 0 60px;
            text-align: center;
            font-size: 16px;
            color: #ccc;
          }
        }
          .sho{
            display: block;
          }
    }
    
  }
}
