.contents{
  max-width: 1020px;
  margin: 0px auto;
  text-decoration: none;
  

  &__body{
    position: relative;
    
  
    .category{
      background-color: rgb(255, 255, 255);
      left: 50%;
      margin-left: -50vw;
      position: relative;
      top: 0px;
      width: 100vw;
      padding: 56px 0px 30px;

      &__list{
        margin-bottom: 16px;
        text-align: center;
        font-size: 28px;
      }
    }
  }
  .item__box{
    padding: 42px 0px 100px;

    .name__box{
      margin-bottom: 16px;
      align-items: flex-end;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  
      .list__name{
        font-weight: 600;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
        font-size: 24px;
        flex: 1 1 0%;
      
      }
      .mottomiru{
        font-size: 14px;
        padding: 5px 16px 5px 5px;
        color: rgb(0, 149, 238);
        display: block;
        font-weight: 600;
        position: relative;
        text-decoration: none;
      }
        .fa-chevron-right{
          font: normal normal normal 14px/1 FontAwesome; 
          color: rgb(0, 149, 238);  
        }
        
      
      .itirann{
        margin: -10px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
      }
  } 
}
  .contents__top{
    height: 390px;
    text-align: center;
    background: url("https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?465897195");
    background-position:center center;
    background-size: contain;
  }
  // .exhibit-btn{
  //   bottom: 32px;
  //   font-size: 22px;
  //   height: 160px;
  //   right: 32px;
  //   width: 160px;
  //   position: fixed;
  //   text-align: center;
  //   z-index: 2;

  //   .exhibit{
  //     display: block;
  //     text-decoration: none;
  //   }
  //   .fa__box{
  //     margin-top: 15px;
  //     width: 60px;
  //     height: 54px;
  //     margin: 5px auto 0px;
    
  //     .fa-camera{
  //       font: normal normal normal 14px/1 FontAwesome;
  //       font-size: 50px;
  //       color: white;
  //     }
  //   }
  //   .btn__box{
  //     width: 160px;
  //     height: 160px;
  //     padding-top: 32px;
  //     text-align: center;
  //     background-color: rgb(234, 53, 45);
  //     border-radius: 50%;
  //   }
  //   .btn__exhibit{
  //     font-size: 22px;
  //     color: white;
      
  //   }
  // }
  
  
