.search-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: auto;
}

.search-right {
  width: 800px;
  margin-left: 50px;
  &__nothing-text {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 40px;
  }
  &__nothing-title {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
  }
  &__keyword {
    &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
    }
  }
  &__product-count {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin: 16px 0;
  }
  &__products {
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    &__product {
      height: 225px;
      width: 160px;
      margin-bottom: 20px;
      background-color: white;
      margin-left: 20px;
      &--image {
        height: 160px;
        width: 160px;
      }
      &__text-box {
        height: 160px;
        width: 100%;
        padding: 8px 12px;
        font-size: 14px;
        &--name {
          height: 16px;
          width: 160px;
          color: black;
        }
        &__bottom {
          justify-content: space-between;
          &--like{
            font-weight: bold;
            position: absolute;
            margin-left: 110px; 
            margin-bottom: 10px;
            color: black;
          }
        }
      }
    }
  }
}

.search-right__products__product--price{
  position: absolute;
  margin-top: 130px;
  font-weight: bold;
  font-size: 14px;
  background: rgba(0,0,0,.3);
  border-radius: 0 14px 14px 0;
  width: 70px;
  color: white;
}