%li.itirann-imag
  .itirann-styl
    = link_to '#' , class: 'image' do 
      .style_card
        .style-card__1
          %span.style-card__text 
            = product.name
        .style_thumbnail__N_xAi
          %span.label
            = product.price
            $
          = image_tag product.images[0].url.url, class: 'images'