.list__itirann
  %ul.itirann
    - @products.each do |product|
      %li.itirann-imag
        .itirann-styl   
          = link_to '#' , class: 'image' do 
            .style_card
              .style-card__1
                %span.style-card__text 
                = product.name
              .style_thumbnail__N_xAi
                %span.label
                  = product.price
                  $
              - @images.each do |i|
                %span.image
                  = image_tag i.image.url
                  
          
