.list__itirann
  %ul.itirann
    - @products.each do |product|
    %li.itirann-imag
      .itirann-styl   
        = link_to '#' , class: 'image' do 
          %figure.style_card
            %figcaption.style-card__1
              = product.name
              -# %span.style-card__text 
            .style_thumbnail__N_xAi
              = product.price
              -# %span.label{"aria-label" => "Price"} ¥2,000
              - @images.each do |image|
              = image.image
              -# = image_tag "face.png", class:"image"