.render-product-3
  .render-product-3__image
  .render-product-3__box
    %h3.render-product-3__box__name
      商品名
    .render-product-3__box__bottom
      .render-product-3__box__bottom__price
        ¥20,000
      .render-product-3__box__bottom__right
        %i.fa.fa-heart-o
        %span 0