= render partial: "header" 
.contents
  .contents__body
    .contents__top
    
    .category
      .category__list
        一覧表示
    .item__box
      .box__list
        .name__box
          .list__name 一覧表示
          = link_to '#' , class: 'mottomiru' do
            もっと見る
            %i.fas.fa-chevron-right
              
        .list__itirann
          %ul.itirann

.exhibit-btn
  = link_to '#', class: 'exhibit'  do

    .btn__box
      .btn__exhibit 出品
      .fa__box
        %i.far.fa-camera.fa-5x 
      





      
    

