.step1-to-step5__container-1
  %header.step1-to-step5__header
    =link_to '#' do
      = image_tag 'mercari-logo', height:'49',width:'185'
  %main.step1-to-step5__main
    %section.container
      %h2.head.registration 住所入力
      %form.inner{action: "", method: "POST", novalidate: "novalidate"} 
        %input{name: "", type: "hidden", value: ""}/ 
        .single-content
          .form-group
            %label{for: "name"} お名前
            %span.form-require 必須
            %input.input-default{name: "first-name", placeholder: "例)山田", type: "text", value: ""}/
            %input.input-default{name: "last-name", placeholder: "例)太朗", type: "text", value: ""}/
          .form-group
            %label{for: "name-kana"} お名前カナ
            %span.form-require 必須
            %input.input-default{name: "first-name-kana", placeholder: "例)ヤマダ", type: "text", value: ""}/
            %input.input-default{name: "last-name-kana", placeholder: "例)タロウ", type: "text", value: ""}/
          .form-group
            %label{for: "post_number"} 郵便番号
            %span.form-require 必須
            %input.input-default{name: "post_number", placeholder: "例）123-456", type: "text"}/
          .form-group
            %label{for: "prefectures"} 都道府県
            %span.form-require 必須
            %select.input-default.select-default{name: "prefectures"}
              %option{value: ""} --
          .form-group
            %label{for: "city"} 市区町村
            %span.form-require 必須
            %input.input-default{name: "city", placeholder: "例）名古屋市中区", type: "text"}/
          .form-group
            %label{for: "house_number"} 番地
            %span.form-require 必須
            %input.input-default{name: "house_number", placeholder: "例）緑山1-1-1", type: "text"}/
          .form-group
            %label{for: "building_name"} 建物名
            %span.form-option 任意
            %input.input-default{name: "building_name", placeholder: "例）TECHビル", type: "text"}/
          .form-group
            %label{for: "phone"} 電話
            %span.form-option 任意
            %input.input-default{name: "phone", placeholder: "例）09011112222", type: "text"}/
          .form-group
            %button.btn-default.btn-red{type: "submit"} 次へ進む
  %footer.step1-to-step5__footer
    = image_tag 'footer-mercari', height: '150', width: '387'